.home {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#help-icon {
  color: gray;
}
.sub-navbar {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0 var(--side-padding);
}
.sub-navbar .content .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  margin: 20px 0;
  max-width: 1000px;
}
.row {
  align-self: center;
  justify-self: center;
}
.links {
  display: flex;
  flex-direction: row;
}

.sub-navbar .category-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  list-style-type: none;
  height: 40px;
  font-weight: 500;
  transition: all 0.2s ease;
}
.sub-navbar .content .cart {
  color: white;
  background: #87a878;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 200px;
}
.help {
  margin-left: 200px;
}
.menu-container {
  margin-left: 1050px;
}
.category-menu li button {
  background-color: #87a878;
  font-size: medium;
  width: fit-content;
  color: white;
}
.category-menu li button:hover {
  background-color: #64795b;
}
.sub-navbar .content .help {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}

.category-menu button {
  background-color: #4e84d4;
}
