.product-card {
  height: 350px;
  width: 250px;
  background: var(--pure-white);
  display: flex;
  flex-direction: column;
}
.product-card img {
  height: 250px;
  width: 100%;
}
.product-card .product-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-top: solid 1px rgb(214, 214, 214);
}
.product-card .main-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}
.product-card .main-info .product-name {
  font-size: 15px;
  font-weight: 500;
}
.product-card .actions {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-card .buttons {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.product-card .buttons button {
  display: flex;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  max-height: fit-content;
  max-width: fit-content;
  margin: 10px 5px;
}
.product-card .main-info .product-name {
  font-size: 15px;
  font-weight: 500;
}
.add .remove {
  height: 10px;
  width: 10px;
}
