.navbar {
  width: 100%;
  max-width: 100vw;
  background: #2c4047;
  color: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--side-padding);
  position: fixed;
}
.navbar .content {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .content .logo {
  width: 100px;
  margin-right: 50px;
}
.navbar .content .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-left: auto;
  color: white;
  flex: 1;
  max-width: 650px;
}
a {
  color: white;
  text-decoration: none;
}
.navbar .content .logo {
  width: 100px;
  margin-left: 50px;
}
